<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mvp.css">
    <title>法律問題集</title>
    <style>
    .pd2 {
      padding: 2px;
    }

    .mg2 {
      margin: 2px;
    }

    .mg4 {
      margin: 4px;
    }

    .w100per {
      width: 100%;
    }

    .fixed_banner {
      position: fixed;
      z-index: 99999;
      top: 5px;
      right: 5px;
    }

    .group_btn {
      height: 3rem;
      text-align: center;
      color: #118bee;
      background: white;
      border-color: #118bee;
      font-weight: bold;
    }

    .active {
      color: white;
      background: #118bee;
    }
  </style>
  </head>
  <body>
    <div id="app">
      <div style="display: flex; justify-content: center; margin-top: 2rem;">
        <h3>科目を選択</h3>
      </div>
      <div style="display: flex; justify-content: center; flex-direction: column;flex-wrap: wrap; height: 8rem;">
        <div v-for="(group, groupindex) in pp.group_list" style="flex: 1 1 1rem; display: flex; justify-content: center;">
          <input @click="md.group_btn_click($event, group)" :value="group.name" class="mg4 w100per group_btn" type="button">
        </div>
      </div>
      <div class="fixed_banner" style="display: flex;">
        <div style="width: 10rem; font-size: smaller; background: #118bee; color: white; border-radius: 3px; text-align: center; height: 2rem; line-height: 2rem; font-weight: bold;">
          (% pp.current_group.name %)</div>
        <input placeholder="キーワードを入力で絞り込み" @input="md.keywordInput($event)" type="text">
      </div>
      <article class="pd2">
        <table>
          <thead>
            <tr>
              <th style="font-size: smaller; width: 2px; padding: 2px;">No</th>
              <th>問題</th>
              <th>回答</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(row, rowIndex) in pp.view_csv" :key="rowIndex">
              <td style="font-size: smaller; width: 2px; padding: 2px;">(% row[0] %)</td>
              <td :style="{ width: '40vw', cursor: 'pointer', 'font-weight': row[1].ftweight, 'font-size': row[1].ftsize, height: row[1].height}">(% row[1].text %) </td>
              <td :style="{ color: '#999', backgroundColor: row[2].bgColor, cursor: 'pointer'}" @click="md.toggleBackgroundColor(row[0])"> (% row[2].text %) </td>
            </tr>
          </tbody>
        </table>
      </article>
    </div>
    <script type="module">
    import {
      createApp,
      ref,
      onMounted
    } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    createApp({
      setup() {
        const pp = ref({
          current_group: { name: '未選択', filename: 'none' },
          test_csv: [],
          view_csv: [],
          group_list: [
            { name: '憲法', filename: 'kenpo' },
            { name: '行政法', filename: 'gyoseho' },
            { name: '行政手続法', filename: 'gyosetetsuzukiho' },
            { name: '民法', filename: 'minpo' },
            { name: '会社法', filename: 'kaishaho' },
            { name: '刑法', filename: 'keiho' },
            { name: '商法', filename: 'shoho' },
            { name: '民事訴訟法', filename: 'minjisoshoho' },
            { name: '倒産法', filename: 'tosanho' },
            { name: '刑事訴訟法', filename: 'keijisoshoho' }
          ],
          audio_file: 1
        })

        const md = class {

          static audio_run = () => {
            document.getElementById('audio_file').play()
            pp.value.audio_file = pp.value.audio_file + 1
            if(pp.value.audio_file === 5){
              pp.value.audio_file = 1
            }
          }

          static group_btn_click = (e, group_obj = { name: '未選択', filename: 'none' }) => {
            Array.from(document.getElementsByClassName('group_btn')).forEach((val, ind) => {
              val.classList.remove('active')
            })
            e.target.classList.add('active')


            pp.value.current_group = group_obj

            this.csv_load()
          }

          static async csv_load() {
            try {

              const response = await fetch(pp.value.current_group.filename + '.csv')
              // レスポンスが正常でない場合はエラーをスロー
              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
              const text = await response.text()
              const rows = text.split('\r\n').map(row => row.split(','))
              pp.value.test_csv = rows.map((row, index) => {

                if (row[0] === '' && row[1] === '') {
                  return {
                    0: '',
                    1: { text: row[0], ftweight: '', ftsize: '', height: '' },
                    2: { text: row[1], bgColor: '' }
                  }
                }
                if (row[1] === '') {
                  return {
                    0: '',
                    1: { text: row[0], ftweight: 'bold', ftsize: 'large', height: '80px' },
                    2: { text: row[1], bgColor: '' }
                  }
                }
                return {
                  0: index,
                  1: { text: row[0], ftweight: '', ftsize: '', height: '' },
                  2: { text: row[1], bgColor: '#999' }
                }

              })

            } catch (error) {
              // ファイルが読み込めない場合
              pp.value.test_csv = [
                {
                  0: 0,
                  1: { text: 'ファイルがないか読み込みできませんでした。', ftweight: '', ftsize: '', height: '' },
                  2: { text: '', bgColor: '#999' }
                }
              ]

            }

            pp.value.view_csv = [...pp.value.test_csv]

          }

          static toggleBackgroundColor(rowIndex) {
            const cell = pp.value.test_csv[rowIndex][2]
            cell.bgColor = cell.bgColor === '#999' ? 'white' : '#999'
          }

          static keywordInput(e) {
            pp.value.view_csv = [...pp.value.test_csv.filter((val) => {
              // 空の場合比較せず除去
              if (val[1].text === '' || val[2].text === '') return false
              if (val[1].text.indexOf(e.target.value) !== -1 || val[2].text.indexOf(e.target.value) !== -1) {
                return true
              }
              return false
            })]
          }

        }

        onMounted(() => {
          // md.csv_load()

        });

        return {
          pp,
          md
        }
      },
      delimiters: ['(%', '%)']

    }).mount('#app')
  </script>
  </body>
</html>
